<h2> JULY 2015 </h3>

  <% @dates.each_pair do |name, schedule| %>
   <% if(schedule.include?(@today)) %>
    <%= name %>
   <% end %>
   <!-- <h3> Weekend </h3> -->
  <% end %>


  <% @user.schedule.each_pair do |key, value| %>

    <p>
      <%= key %>
      <br>
      <% @users.each do |user| %>
      <% if(user.name == value) %>
      <!-- displays all users' images by date assigned to support-->
        <img src="<%= user.image_url %>"/>
        <br>
        <%= value %>
        <br>
      <% end %>
    <% end %>
    </p>

  <% end %>

<%# end %>
