// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  border: 2px solid green;
  padding: 2%;
  width: 23%;
  text-decoration: none;
}

h2, h4, p{
  text-align: center;
}
h2{
  text-decoration: underline;
}

img{
  height: 15%;
  width: 15%;
}

p{
  display: inline-block;
  border: 2px solid green;
}

.daily-hero{
  text-align: center;
}

#login-sched{
  text-align: right;
}